





















.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



html {
    background: linear-gradient(135deg, var(--background-color)0%, #E8F0FF 100%);
}